@mixin base {
    @include full-bleed;
    
    padding-top: $space-xxl;
    padding-bottom: $space-xxl;
    background-color: #F2F5F7;
}

.la-signup {
    @include base;

    @import 'heading';
    @import 'text';
}