@mixin base {
    @include full-bleed;
    
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
    // padding-top: $space-xxl;
>>>>>>> creates gh-pages branch and commits
=======
    // padding-top: $space-xxl;
>>>>>>> fixes merge conflict
=======
    // padding-top: $space-xxl;
>>>>>>> 8a185702738871b57e8cb76fdeb2f6170e4f8507
    padding-bottom: $space-xxl;
    background-color: #F2F5F7;

    @media screen and (min-width: 768px) {
        padding-top: $space-xxl;
    }
}

.la-signup {
    @include base;

    @import 'heading';
    @import 'text';
}