@mixin base {
    @include full-bleed;
    
<<<<<<< HEAD
=======
    // padding-top: $space-xxl;
>>>>>>> creates gh-pages branch and commits
    padding-bottom: $space-xxl;
    background-color: #F2F5F7;

    @media screen and (min-width: 768px) {
        padding-top: $space-xxl;
    }
}

.la-signup {
    @include base;

    @import 'heading';
    @import 'text';
}