@mixin base {
    align-items: center;
    background-color: #1D74B9;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

&__image-container {
    @include base;
}