.la-button {
    color: #232323;

    &__icon {
        margin-bottom: 2px;
    }

    &:hover {
        color: #232323;
    }

    &:active {
        color: #232323;
    }

    &__icon {
        vertical-align: middle;
    }
}

.la-form__button {
    color: #232323;
    margin-top: $space-xl;
    background-image: url("http://unumux.github.io/la-thought-leadership/assets/btn-arrow.svg");
    background-repeat: no-repeat;
    background-position: 75% center;

    &-icon {
        margin-bottom: 2px;
    }

    &-icon {
        margin-bottom: 2px;
    }

    &-icon {
        margin-bottom: 2px;
    }

    @media screen and (min-width: 576px) {
        max-width: 200px;
        margin: 0 auto;
        margin-top: $space-xl;
        background-position: 95% center;
    }

    @media screen and (min-width: 828px) {
        max-width: 235px;
    }

    &:hover {
        color: #232323;
    }

    &:active {
        color: #232323;
    }

    &-icon {
        vertical-align: middle;
    }
}