@mixin base {
    display: block;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    max-width: 346px;
    max-height: 346px;
    flex-basis: 40%;
    
    @media screen and (min-width: 992px) {
        margin-right: $space-xl;
    }
}

&__image {
    @include base;
}