@import "node_modules/@unumux/theme-unum-default/styles";
@import "node_modules/@unumux/willow/styles";
@import "node_modules/@unumux/willow/styles";

@import 'overrides/overrides';

@import 'la-heading/la-heading';
@import 'la-tiled-content/la-tiled-content';
@import 'la-signup/la-signup';
@import 'la-form/la-form';
@import 'la-testimony/la-testimony';
@import 'la-faqs/la-faqs';
@import 'la-footer/la-footer';

* {
    box-sizing: border-box;
}

body {
    background: #dedede;
    color: #111;
}