@import "node_modules/@unumux/theme-unum-default/styles";
@import "node_modules/@unumux/willow/styles";
@import "node_modules/@unumux/willow/styles";

* {
    box-sizing: border-box;
}

body {
    background: #dedede;
    color: #111;
}
